<h1>Admin::Dashboard#show</h1>
<br/>

<div class="alert alert-info">
  Total Products: <strong><%= @productsCount %></strong>
</div>

<div class="alert alert-info">
  Total Product's Categories: <strong><%= @categoriesCount %></strong>
</div>